*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-color:rgba(177, 152, 128, 0.536) ;
    color:rgb(75, 54, 34) ; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.heading{
    margin-top: 0.938rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
   
    text-align: center;
    text-transform:capitalize;
    text-shadow: 0px 3px 5px;
    font-style: italic;
    font-size:2.500rem ;
    text-decoration: underline;
    text-decoration-style:dotted;
}
 i{
    padding: 15px;
    font-size:3.125rem;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    border: 7px dashed  rgb(75, 54, 34); /* Combined border properties */
    border-radius: 50px;
    box-shadow: 20px 20px 30px rgb(75, 54, 34);
    background-color: rgba(177, 152, 128, 0.536);
    backdrop-filter: blur(5px);
    width: 30vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
label{
    font-size:25px ;
    font-weight:bolder;
    padding: 10px 5px 0px ;
    font-style: italic;
}
input{
    margin-bottom: 1rem;
    padding: 5px 30px ;
    transition: all 0.8s ease-in-out;
    width: 20vw;
    font-size:large ;
    font-style: italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bolder;
    border:2px solid rgb(75, 54, 34);
    border-radius: 30px 80px 30px;
    box-shadow:  5px 5px 5px rgb(75, 54, 34) , 0px 5px 5px rgb(75, 54, 34);
}
input:hover{
    color: #fff;
    background-color: rgba(75, 54, 34, 0.221);
 
}
select{
    padding: 5px 10px ;
    transition: all 0.8s ease-in-out;
    color:rgb(34, 34, 75) ;
    width: 15vw;
    text-align: center;
    font-size:large ;
    font-style: italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bolder;
    border:2px solid rgba(19, 19, 53, 0.395);
    border-radius: 30px 80px 30px;
    box-shadow: 5px 5px 5px rgb(75, 54, 34) , 0px 5px 5px rgb(75, 54, 34);
}
select:hover{
    color: #ffff;
    background-color: rgba(75, 54, 34, 0.221);
}

button{
    font-weight:bolder;
    font-size:15px ;
    transition: all 0.8s ease-in-out;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 10px 5px 5px;
    border:2px solid rgb(75, 54, 34);
    border-radius: 30px 10px 30px;
    box-shadow:  5px 5px 5px rgb(75, 54, 34) , 0px 5px 5px rgb(75, 54, 34);}
    button:hover{
        color: rgb(234, 223, 234);
        background-color: rgb(75, 54, 34);
    }

  #btn{
    margin: .5rem;
    display: flex;
    gap: 1rem;
  }      

  @media(max-width:1440px){
    .heading {
        margin-top: 2.7rem;
    }
    h1 {
        font-size: 3.125rem;
    }
    i {
        padding: 0.750rem;
        font-size: 3.250rem;
    }
    .container {
        position: absolute;
        top: 55%;
        left: 50%;
        width: 45vw;
    }
    label {
        font-size: 2.188rem;
    }
    input {
        padding: .5rem 3rem;
        width: 20vw;
        font-size: 1.250rem;
    }
    select {
        padding: .5rem 3rem;
        width: 20vw;
        font-size: 1.250rem;
    }
    button {
        font-size: 1.2rem;
        padding:.65rem;
    }

  }
  
  @media(max-width:1024px){

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50vw;
    }
   

  }
  @media(max-width:912px){
    .heading {
        margin-top: .115rem;
    }
    h1 {
        font-size: 2.15rem;
    }
    i {
        padding: 0.750rem;
        font-size: 3.250rem;
    }
    .container {
        position: absolute;
        top: 55%;
        left: 50%;
        width: 47vw;
    }
    label {
        font-size: 1.3rem;
    }
    input {
        padding: .5rem 1rem;
        width: 25vw;
        font-size: .99rem;
    }
    select {
        padding: .5rem 1rem;
        width: 20vw;
        font-size: .99rem;
    }
    button {
        font-size: .82rem;
        padding:.5rem;
    }
  }
  @media(max-width:768px){
    .heading {
        margin-top: 1.7rem;
    }
    h1 {
        font-size: 2.125rem;
    }
    i {
        padding: 0.750rem;
        font-size: 3.250rem;
    }
    .container {
        position: absolute;
        top: 54%;
        left: 50%;
        width: 50vw;
    }
    label {
        font-size: 1.2rem;
    }
    input {
        padding: .15rem 1rem;
        width: 26vw;
        font-size: 1.05rem;
    }
    select {
        padding: .15rem 1rem;
        width: 18vw;
        font-size: 1.05rem;
    }
    button {
        font-size: .77rem;
        padding:.5rem;
    }
  }
  @media(max-width:425px){
    .heading {
        margin-top: 1rem;
    }
    h1 {
        font-size: 1.744rem;
    }
    i {
        padding: 0.750rem;
        font-size: 2rem;
    }
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 58vw;
    }
    label {
        font-size: 1.2rem;
    }
    input {
        padding: .15rem 1rem;
        width: 39vw;
        font-size: .88rem;
    }
    select {
        padding: .15rem 1rem;
        width: 31vw;
        font-size: .88rem;
    }
    button {
        font-size: .66rem;
        padding:.265rem;
    }
  }
  @media(max-width:375px){
    .heading {
        margin-top: 1rem;
    }
    h1 {
        font-size: 1.744rem;
    }
    i {
        padding: 0.750rem;
        font-size: 2rem;
    }
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 64vw;
    }
    label {
        font-size: 1.2rem;
    }
    input {
        padding: .15rem 1rem;
        width: 44vw;
        font-size: .88rem;
    }
    select {
        padding: .15rem 1rem;
        width: 35vw;
        font-size: .88rem;
    }
    button {
        font-size: .66rem;
        padding:.265rem;
    }
  }
  @media(max-width:320px){
    .heading {
        margin-top: 1rem;
    }
    h1 {
        font-size: 1.55rem;
    }
    i {
        padding: 0.750rem;
        font-size: 2rem;
    }
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 64vw;
    }
    label {
        font-size: 1.2rem;
    }
    input {
        padding: .15rem 1rem;
        width: 44vw;
        font-size: .66rem;
    }
    select {
        padding: .15rem 1rem;
        width: 35vw;
        font-size: .66rem;
    }
    button {
        font-size: .66rem;
        padding:.265rem;
    }
  }